PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=monitoring

FRONTEND_URL=http://localhost:5173
NODE_ENV=development

DASHBOARD_PASSWORD=test
SESSION_SECRET=32 caracters string
